:root {
  --font-size-xs: 11px;
  --font-size-s: 13px;
  --font-size-m: 16px;
  --font-size-l: 21px;
  --font-size-xl: 32px;
  --font-size-xxl: 48px;
}

h1 {
  font-size: var(--font-size-xxl);
}

h2 {
  font-size: var(--font-size-xl);
}

h3 {
  font-size: var(--font-size-l);
}