include ./mixins/script.pug

doctype html
html(class='page-' + name)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Training notes
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body.layout
    header.layout-header
      include ./partials/header/header
    main.layout-main#fragment-main
      block main
    footer.layout-footer
      include ./partials/footer/footer
    +script('views/index.js')
    script(src='https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js')
    script(defer async).
      WebFont.load({google: {families: ['Work Sans']}})
