include ./mixins/script.pug

doctype html
html(class='page-' + name)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Training notes
    link(rel='preload' href='js/components/router.js' as='script')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body.layout
    header.layout-header
      include ./partials/header/header
    main.layout-main#fragment-main
      block main
    footer.layout-footer
      include ./partials/footer/footer
    
    +script('views/index.js')