.footer-nav,
.footer-icon-credit {
  width: 100%;
  color: var(--color-font-dimmed);
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.footer-link {
  display: block;
}

.footer-link a {
  text-decoration: none;
}

.footer-icon-credit {
  width: 100%;
  font-size: var(--font-size-s);
}

.footer-icon-credit a {
  color: inherit;
}