include ./mixins/script.pug

doctype html
html(class='page-' + name)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Training notes
    meta(name='viewport' content='width=device-width, initial-scale=1')
    style.
      [hidden] { display: none !important; }
    link(rel='stylesheet' href='css/shared/reset.css' type='text/css')
    link(rel='stylesheet' href='css/shared/colors.css' type='text/css')
    link(rel='stylesheet' href='css/shared/spacing.css' type='text/css')
    link(rel='stylesheet' href='css/shared/typography.css' type='text/css')
    link(rel='stylesheet' href='css/shared/layout.css' type='text/css')
    link(rel='stylesheet' href='css/partials/footer/footer.css' type='text/css')
    link(rel='stylesheet' href='css/partials/header/header.css' type='text/css')
    link(rel='stylesheet' href='css/partials/footer/footer.css' type='text/css')
  body.layout
    header.layout-header
      include ./partials/header/header
    main.layout-main#fragment-main
      block main
    footer.layout-footer
      include ./partials/footer/footer
    +script('components/router/router.js')