.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.layout-header,
.layout-main,
.layout-footer {
  padding-right: var(--spacing-m);
  padding-left: var(--spacing-m);
}

.layout-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-background-brand);
}

.layout-main {
  display: flex;
  flex-direction: column;
  padding-top: var(--spacing-l);
  padding-bottom: var(--spacing-l);
  background-color: var(--color-background);
  flex-grow: 1;
  background-color: var(--color-background);
}

.layout-footer {
  display: flex;
  flex-direction: column;
  padding-top: var(--spacing-m);
  padding-bottom: var(--spacing-m);
  border-top: 1px solid var(--color-border);
  background-color: var(--color-background-brand);
}

