:host {
  display: flex;
  flex-direction: column;
}

.viewport {
  flex-grow: 1;
  position: relative;
  overflow: scroll;
}

.days {
  display: block;
  width: 100%;
  padding: 0;
}

.dist-buffer.m-start {
  order: 0;
}

.dist-buffer.m-end {
  order: 1000;
}

.scroller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.day {
  display: flex;
  margin-bottom: var(--spacing-m);
}

.notes {
  margin: 0;
  padding: 0 0 0 var(--spacing-m);
  min-height: 3em;
  width: 100%;
  background-image: repeating-linear-gradient(
    transparent,
    transparent calc(1.5em - 2px),
    var(--color-border-dimmed) calc(1.5em - 2px),
    var(--color-border-dimmed) calc(1.5em - 1px),
    transparent calc(1.5em - 1px),
    transparent calc(3em - 2px),
    var(--color-border-dimmed) calc(3em - 2px),
    var(--color-border-dimmed) calc(3em - 1px)
  );
  white-space: pre-line;
}

.day-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3em;
  padding-right: var(--spacing-m);
  margin-right: var(--spacing-m);
  font-size: var(--font-size-m);
  text-align: right;
}

.day-number, .day-weekday {
  display: block;
  width: 100%;
}

.day-weekday {
  color: var(--color-font-dimmed);
}
 
.day-number {
  font-size: var(--font-size-l);
}