:root {
  --header-spacing-logo: 7px;
}

.header-nav {
  display: block;
  width: 100%;
}

.header-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 2.5em;
  overflow: hidden;
  padding-right: var(--spacing-l);
  padding-left: var(--spacing-l);
}

.header-link-item,
.header-dropdown-item {
  display: block;
}

.header-link-item:not(:first-child) {
  margin-left: var(--spacing-m);
}

.header-nav a {
  display: block;
  box-sizing: border-box;
  line-height: 2.5em;
  padding: 0 var(--spacing-m);
  text-decoration: none;
  color: var(--color-font-dimmed);
}

.header-nav a.m-active {
  color: var(--color-font);
}

.header-dropdown {
  display: flex;
  flex-direction: column;
}

.header-logo {
  display: flex;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  padding: var(--header-spacing-logo);
}

.header-logo svg {
  display: block !important;
  width: 100%;
  height: 100%;
}