:host {
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  display: flex;
  background: none;
  border: none;
}

.dropdown {
  position: absolute;
  right: 0;
  top: calc(100% + 1px);

  overflow: hidden;
  height: auto;
  transition:max-height 0.14s ease-in-out;
}

.dropdown:not(.m-open) {
  max-height: 0 !important;
}