:root {
  /* font */
  --color-font: rgba(0, 0, 0, 0.9);
  --color-font-dimmed: rgba(0, 0, 0, 0.6);

  --color-warn: orange;
  --color-error: red;
  --color-info: blue;
  --color-success: green;

   /* background */
  --color-background: white;

  /* border */
  --color-border: black;
}

.theme-secondary {
  /* font */
  --color-font: white;
  --color-font-dimmed: rgba(255, 255, 255, 0.8);

  /* background */
  --color-background: #2d2926;

  /* border */
  --color-border: white;
}